body {
		font-family: Arial;
		margin: 0%;
		overflow: hidden;
        display: flex;
    }
		
    header {
        justify-content:center;
        background: hsla(0, 0%, 1%, 0.2);
        color: white;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 20%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
        
     }
		
	h1 {
		text-align: center;
		font-size: 25px;
	}
	
	p {
		text-align: center;
		font-size: 25px;
	}
		
	canvas {
        background-size: cover;
        justify-content:center;
		display: block;
		background: hsl(0, 0%, 0%);
	}
	
	

.colors {
    margin: auto;
}
/* Стили кнопки */
.button {
    background-color: hsl(120, 55%, 55%); /* зеленый */
    border: none;
    color: hsl(0, 100%, 100%); /*белый*/
    padding: 30px 62px;
    justify-content:space-evenly; 
    -webkit-transition-duration: 0.4s; /* скорость */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 { /*зеленый*/
    background-color: hsl(120, 55%, 55%); 
    color:hsl(120, 55%, 55%)  
}


.button2 { /*синий*/
    background-color: hsl(235, 80%, 45%); 
    color: hsl(235, 80%, 45%);
}


.button3 { /*красный*/
    background-color: hsl(0, 100%, 50%); 
    color:  hsl(0, 100%, 50%);
}


.button4 { /*фиолетовый*/
    background-color: hsl(301, 90%, 38%); 
    color: hsl(301, 90%, 38%);
}


.button5 { /*желтый*/
    background-color: hsl(59, 90%, 60%); 
    color: hsl(59, 90%, 60%);
}



.button6 { /*черный*/
    background-color: hsl(120, 0%, 30%); 
    color:hsl(120, 0%, 30%);
}

.button7 { /*Белый*/
    background-color: hsl(120, 100%, 100%); 
    color:hsl(120, 100%, 100%);
}
